<div class="text-center px-2 text-sm opacity-80" style="color: inherit;">
  Desarrollado por 
  <a href="https://github.com/powerlexx-pr/docuseal" class="underline font-bold">DocuSeal UCM Edition</a> 
  - Software de código abierto para la asociación <strong>Derecho x La Pública</strong>
</div>
